# 蓝牙APP所需依赖库
kivy>=2.1.0
bleak>=0.19.0
plyer>=2.1.0
asyncio-throttle>=1.0.2
kivy-deps.angle>=0.3.0; sys_platform == "win32"
kivy-deps.glew>=0.3.0; sys_platform == "win32"
kivymd>=0.104.2; platform == "android"
android-permissions>=0.1.0; platform == "android"